/*----------------------------------------------
--Footer
-----------------------------------------------  */

.footer {
	position: relative;
	display: table;
	width: 100%;
	margin: 0 auto;
	padding: 4em 0;
	text-transform: uppercase;
	color: $color-light;
        font-family: Open Sans, Helvetica Neue, Arial, sans-serif;
        font-size: 13px;
        font-weight: 100;
        font-style: normal;
        line-height: 1.1em;
        letter-spacing: -0.02em;
	@include overlay($color-dark, 0.9);
	.v-center {
		display: table-cell;
		vertical-align: middle;
		position: relative;
		z-index: 4;
		padding: 0 5%;
		h1 {
			@include animation(fade-in ease-in-out 2s 0.5s both);
		}
		img {
			transition: all ease-out 4s;
			width: 78px;
		}
		img:hover {
			transform: rotate(-90deg);
		}
		.row {
			padding: 1em 0;
		}
	}
	p {
		font-size: 90%;
		@include animation(fade-in ease-in-out 2s 1s both);
	}
	h2 {
		font-weight: 900;
		font-size: 120%;
		margin: 0.5em 0;
		@include animation(fade-in ease-in-out 2s 1s both);
	}
	span{
		margin-bottom: 1em;
	}
	span:hover {
		@include animation(rubber-band ease-in-out 3s);
	}
	a {
		text-decoration: none;
		font-weight: 100;
		color: $color-light;
	}
	a:hover { 
		color: $color-orange;
	}
 	ul.keyframe-slider {
                li {
                        @include bg-abs;
                        background-attachment: fixed;
                        opacity: 0;
                        @include animation(fade-out 27s infinite both);
                        background-image: url(https://s3-ap-northeast-1.amazonaws.com/www-capoeirastudio-com/xango-zumbi-roda-800x1200px.jpeg);
                        @media (min-width: $mq-med) {
                                background-image: url(https://s3-ap-northeast-1.amazonaws.com/www-capoeirastudio-com/calango-chama-formiguinha-2000x1350px.jpeg);
                        }
                }
                li:nth-child(2) {
                        background-image: url(https://s3-ap-northeast-1.amazonaws.com/www-capoeirastudio-com/mestre-calango-atabaque-800x1200px.jpeg);
                        @include animation-delay(18s);
                        @media (min-width: $mq-med) {
                                background-image: url(https://s3-ap-northeast-1.amazonaws.com/www-capoeirastudio-com/calango-desafio2016-2000x1300px.jpeg);
                        }
                }
                li:nth-child(3) {
                        background-image: url(https://s3-ap-northeast-1.amazonaws.com/www-capoeirastudio-com/segredo-calango-roda-800x1200px.jpeg);
                        @include animation-delay(9s);
                        @media (min-width: $mq-med) {
                                background-image: url(https://s3-ap-northeast-1.amazonaws.com/www-capoeirastudio-com/formiguinha-calango-roda-2000x1300px.jpg);
                        }
                }
	}
}
