/*----------------------------------------------
--Page Styling
-----------------------------------------------  */

.introduction {
	min-height: 100%;
	.didot-font {
		font-family: "GFS Didot";
	}
}

.about {
	min-height: 100%;
	margin: 0 -10px;
}

.contact {
	padding-bottom: 0;
}

.slideshow, .donate {
	.slides {
		height: 50vh;
		border: 2px solid linear-gradient(to bottom, #666666 0%, #111111 100%);
	}
	.containter {
		position: relative;
		display: table;
		.center-vertically {
			position: relative;
			display: table-cell;
			vertical-align: middle;
		}
	}
}
