/*----------------------------------------------
--Page Styling
-----------------------------------------------  */

.introduction {
	height: 100%;
	.didot-font {
		font-family: "GFS Didot";
	}
}

.about {
	height: 100%;
	margin: 0 -10px;
}

.slideshow, .donate {
	.slides {
		height: 50vh;
	}
	.containter {
		position: relative;
		display: table;
		.center-vertically {
			position: relative;
			display: table-cell;
			vertical-align: middle;
		}
	}
}
